/* UBAH WARNA ANTARAMUKA SISTEM INI */

:root {
    /* ANTARAMUKA SISTEM */
    /* Ubah gambar latar belakang sistem */
    --gambar-latar-belakang: url(bg/bg.jpeg);
    /* Jika tiada gambar latar belakang ditetapkan, Gunakan latar belakang solid. */
    --warna-solid-latar-belakang: pink;
    /* Ubah warna latar belakang nama sistem */
    --warna-latar-belakang-nama-sistem: rgb(255, 173, 186);
    /* Ubah warna teks nama sistem */
    --warna-teks-nama-sistem: white;
    /* ISI PAPARAN ANTARAMUKA */
    /* Warna latar belakang paparan antaramuka (Bahagian isi maklumat) */
    --warna-latar-belakang-antaramuka: rgba(221, 160, 221, 0.9);
    /* Warna teks maklumat antaramuka */
    --warna-teks-maklumat-antaramuka: black;
    /* --WARNA BUTANG NAVIGASI-- */
    /* Warna butang navigasi */
    --warna-butang-navigasi: pink;
    /* Warna teks butang navigasi */
    --warna-teks-butang-nav: purple;
    /* Warna bingkai (BORDER COLOR) navigasi */
    --warna-border-btn-navigasi: purple;
    /* Warna butang apabila tetikus menghala kearahnya (MOUSE HOVER) */
    --warna-butang-nav-hover: rgb(255, 100, 126);
    /* WARNA BUTANG (Digunakan dalam mana mana bahagian seperti butang hantar, batal, reset, dll..) */
    /* Warna latar belakang butang */
    --warna-butang: rgb(255, 181, 239);
    /* Warna bingkai (BORDER COLOR) butang*/
    --warna-border-butang: purple;
    /* Warna teks butang */
    --warna-teks-butang: purple;
    /* Warna butang apabila tetikus menghala kearahnya (MOUSE HOVER) */
    --warna-butang-hover: rgb(255, 110, 221);
}

body {
    background: var(--gambar-latar-belakang);
    background-color: var(--warna-solid-latar-belakang);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.uiinner {
    display: table;
    margin: 0 auto;
}

.ui {
    width: 1000px;
}

.navbar {
    width: 1000px auto;
    height: 90px;
    background-color: var(--warna-latar-belakang-nama-sistem);
}

a {
    text-decoration: none;
}

.logoinner {
    margin-left: 10px;
    height: 40px;
    line-height: 40px;
    float: left;
    text-decoration: none;
}

.navbar a {
    color: var(--warna-teks-nama-sistem);
    font-size: 30px;
}

.navbar2 {
    margin-top: 90px;
    position: absolute;
    width: 160px;
    text-align: center;
}

input[type=text], input[type=number], input[type=password] {
    padding: 12px 20px;
    width: 300px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: 0.4s;
}

.select{
    padding: 12px 20px;
    width: 300px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: 0.4s;
}

input[type=text]:focus {
    box-shadow: 15px 15px 10px black;
    transition: 0.4s;
}

input[type=number]:focus {
    box-shadow: 15px 15px 10px black;
    transition: 0.4s;
}

input[type=password]:focus {
    box-shadow: 15px 15px 10px black;
    transition: 0.4s;
}

.loginarrange{
    display: inline;
}

.adminposition{
    position: relative;
    top: 40px;
    right: 300px;
}

.navbar2 a {
    height: 25px;
    line-height: 1.3;
    margin-top: 15px;
    padding: 10px 0px 6px 0px;
    color: var(--warna-teks-butang-nav);
    background-color: var(--warna-butang-navigasi);
    border-color: var(--warna-border-btn-navigasi);
    border-style: solid;
    display: block;
    transition: 0.5s;
}

.activenav {
    background-color: var(--warna-butang-nav-hover) !important;
    box-shadow: 10px 10px 10px black;
}

.navbar2 a:hover {
    background-color: var(--warna-butang-nav-hover);
    box-shadow: 10px 10px 10px black;
    transition: 0.5s;
}

.interfacelogin {
    display: block;
    background-color: var(--warna-latar-belakang-antaramuka);
    color: var(--warna-teks-maklumat-antaramuka);
    width: 100%;
    height: 500px;
    margin-top: 15px;
    text-align: center;
}

.title {
    margin: 0;
}

.mainmenu {
    padding-top: 40px !important;
    margin: 0;
}

.loginlabel{
    display: inline;
}

.stylebtn {
    background-color: var(--warna-butang);
    border-color: var(--warna-border-butang);
    border-style: solid;
    border-width: 3px;
    color: var(--warna-teks-butang);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.5s;
}

.stylebtn:hover {
    background-color: var(--warna-butang-hover);
    transition: 0.5s;
    box-shadow: 15px 15px 10px black;
}

.colorchangebtn {
    float: right;
    padding-top: 70px;
    padding-right: 7px;
    cursor: pointer;
}

.tablepane{
    max-height: 250px;
    overflow: auto;
    display: inline-block;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.7);
}

table {
    border-collapse: collapse;
    width: 650px;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.7);
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: purple;
    color: white;
}

tr{
    background-color: rgb(255, 192, 203);
    transition: 0.4s;
}

tr:hover {
    background-color: rgb(255, 115, 138);
    transition: 0.4s;
}

.menubtn{
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 990px){

    .menubtn{
        display: block;
    }

    .navbar2{
        display: none;
    }

    .interface{
        margin-left: 0;
        width: 100%;
    }

    .uiinner{
        display: flex;
    }
}