*{
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
}


.logo{
    line-height: 80px;
    float: left;
    text-transform: uppercase;
}

.menu{
    float: right;
    line-height: 80px;
    display: none;
}

.menu a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}

.show-menu-btn{
    float: right;
}

.show-menu-btn i{
    line-height: 100px;
}

.show-menu-btn,.hide-menu-btn{
    color: white;
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.active{
    color: #2fc9d4 !important;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
    color: #4400ff;
}

#chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}
