body {
    background: url('bg.jpg') no-repeat top center;
    background-size: cover;
    height: 100vh;
}

.boranglogin {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px;
}

.boranglogindalam {
    display: flex;
    max-width: 550px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.8);
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-style: solid;
    border-color: yellow;
}

.logininput {
    width: 500px;
    text-align: center;
    line-height: 1.5;
}

.register {
    color: white;
    font-size: 18px;
}

.registerbtncolor {
    color: chartreuse;
}

.registerbtncolor:hover {
    color: darkturquoise;
    text-decoration-line: none;
}

.titlecolor {
    color: white;
}

@media screen and (max-width: 1080px) {
    .logininput {
        width: 500px;
        font-size: 25px;
    }
    .register {
        color: white;
        font-size: 25px;
        line-height: normal;
    }
}